body {
    margin: 0;
    padding: 0;
    background-color: pink;
}

.btn {
    position: absolute;
    top: 50%;
    left: 45%;
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: beige;
    color: black;
}